pipeline/pl_array_element_filter.json
{
	"name": "pl_array_element_filter",
	"properties": {
		"activities": [
			{
				"name": "act_foreach_set",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Skipped",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.range_array2",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "act_set_elem",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "test2",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "act_filter_even_values",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.range_array2",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(mod(item(),2),0)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_filter_even_values",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "test3",
					"value": {
						"value": "@activity('act_filter_even_values').output.Value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"range_array2": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6,
					7,
					8,
					9,
					10
				]
			}
		},
		"variables": {
			"test2": {
				"type": "Integer"
			},
			"range_even_number": {
				"type": "Array"
			},
			"test3": {
				"type": "Array"
			},
			"element": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-27T11:27:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}